<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
</head>
<body>
  <h1>User Profile</h1>
  <p>UserID: <%= user.userID %></p>
  <p>Name: <%= user.name %></p>
  <p>Role: <%= user.role %></p>
</body>
</html>
